{% extends "/index.twig" %}
{% block content %}
    <h1>Корзина</h1>
    <ul>
        {% for item in items %}
            <li><a href="{{ item.cat.url }}/{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock %}
