<!-- Jquery JS-->
<script src="/public/vendor/jquery-3.2.1.min.js"></script>
<!-- Bootstrap JS-->
<script src="/public/vendor/bootstrap-4.1/popper.min.js"></script>
<script src="/public/vendor/bootstrap-4.1/bootstrap.min.js"></script>
<!-- Vendor JS       -->
<script src="/public/vendor/slick/slick.min.js">
</script>
<script src="/public/vendor/wow/wow.min.js"></script>
<script src="/public/vendor/animsition/animsition.min.js"></script>
<script src="/public/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
</script>
<script src="/public/vendor/counter-up/jquery.waypoints.min.js"></script>
<script src="/public/vendor/counter-up/jquery.counterup.min.js">
</script>
<script src="/public/vendor/circle-progress/circle-progress.min.js"></script>
<script src="/public/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/public/vendor/chartjs/Chart.bundle.min.js"></script>
<script src="/public/vendor/select2/select2.min.js">
</script>

<!-- Main JS-->
<script src="/public/js/main.js"></script>