   <title>{{ site.title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">

   <link href="/public/css/font-face.css" rel="stylesheet" media="all">
   <link href="/public/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
   <link href="/public/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
   <link href="/public/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

   <!-- Bootstrap CSS-->
   <link href="/public/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

   <!-- Vendor CSS-->
   <link href="/public/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
   <link href="/public/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
   <link href="/public/vendor/wow/animate.css" rel="stylesheet" media="all">
   <link href="/public/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
   <link href="/public/vendor/slick/slick.css" rel="stylesheet" media="all">
   <link href="/public/vendor/select2/select2.min.css" rel="stylesheet" media="all">
   <link href="/public/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

   <!-- Main CSS-->
   <link href="/public/css/theme.css" rel="stylesheet" media="all">

