<!DOCTYPE html>
<html>
<head>
    {{ include('header.twig') }}
</head>
<body class="animsition">
<div class="page-wrapper">
    {{ include('mobile_menu.twig') }}
    {{ include('menu.twig') }}
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        {% include('header_desktop.twig')  %}
        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE CONTAINER-->
</div>
{{ include('footer.twig') }}
</body>
</html>
