{% extends "index.twig" %}
{% block content %}
    <div class="row">
    <div class="col-md-12">
        <div class="overview-wrap">
            <h2 class="title-1">{{  category.title }}</h2>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Фильтр категорий</strong>
                </div>
                <div class="card-body">
                        <div class="row">
                        {% for tag in tags %}
                            <div class="col-md-3">
                        <label class="au-checkbox">
                            <input type="checkbox" {% if  tag.status == true %}
                                checked="checked"
                            {% endif %}  name="filter" value="{{ tag.id }}" />
                            <span class="au-checkmark"></span>
                        </label>
                                {{ tag.name }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary btn-sm">Применить</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    <ul>
        {% for item in items %}
            <li><a href="{{ category.url }}/{{ item.url }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}
