<!-- MENU SIDEBAR-->
<aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
        <a href="/">
            <img src="/public/images/logo.png" alt="Creative Lamps" />
        </a>
    </div>
    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li class="{{ page == 'home' ? 'active' }}">
                    <a href="/">
                        <i class="fas fa-tachometer-alt"></i>Главная</a>
                </li>
                <li class="{{ page == 'night_lights' ? 'active' }}">
                    <a href="/night_lights">
                        <i class="fas fa-chart-bar"></i>Ночники</a>
                </li>
                <li class="{{ page == 'cart' ? 'active' }}">
                    <a href="/cart">
                        <i class="fas fa-chart-bar"></i>Корзина</a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
<!-- END MENU SIDEBAR-->
